<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.ad_glasses.assistant.ADVoiceInteractionService"
            android:exported="true"
            android:label="AD Glasses"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/ad_voice_interaction_service" />
        </service>

        <service
            android:name="com.ad_glasses.assistant.ADVoiceInteractionSessionService"
            android:exported="false"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />

        <service
            android:name="com.ad_glasses.assistant.ADRecognitionService"
            android:exported="true"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION_SERVICE">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
